**Functions 2 assignment**

Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
Player_Run = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
sorted_list = sorted(Player_Run, key = lambda x: x[1])
# This will sort the list of players by their runs
# x[1] is used to denote the integer value of each tuple in the list
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
sqrs_numbers = map(lambda x : x**2 , numbers)
sqrs_numbers  # This wiil give map object

In [5]:
tuple(sqrs_numbers)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
integers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
str_integers = map(lambda x: str(x),integers) # we have to typecast each x in integers

In [8]:
tuple(str_integers)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [9]:
numbers = range(1,26)
print(list(numbers)) # This will create a list of first 25 natural numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [10]:
from functools import reduce
product_of_numbers = reduce(lambda x,y: x*y,numbers) # This will calculate the product of first 25 natural numbers

In [11]:
product_of_numbers

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [12]:
random_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
# multiple of 2 & 3 can be extracted from ran_list as follows:

multiple = filter(lambda x: x % 2 == 0 and x % 3 == 0, random_list)
list(multiple)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [14]:
str_list = ['python', 'php', 'aba', 'radar', 'level']

In [15]:
palindrome_str = filter(lambda x: x[::-1] == x ,str_list)  # This will filter all palindrome strings
palindrome_str # filter object

In [16]:
list(palindrome_str)  # The filter object palindrome_str store all filter values in list which is shown below

['php', 'aba', 'radar', 'level']